{% extends 'dashboard/layout/layout.twig' %}
{% block appBody %}
	<div class="text-white m-10">
		<h1 class="text-red-500">VersaWYS - Debug Error</h1>
		<h4>{{ dump(data) }}</h4>
	</div>
{% endblock %}
