/app/templates/.cache/*
/versaWYS/vendor/*
/versaWYS/composer.lock
/public/dashboard/store/*
/public/dashboard/**/*.js
/public/dashboard/**/*.css
/public/dashboard/**/temp
/versaCompileJS/node_modules/*
/public/temp/*
.idea
node_modules
package-lock.json
pnpm-lock.yaml
/versaWYS/kernel/config/config.json
/versaWYS/logs/*
