{% extends 'dashboard/layout/layout.twig' %}
{% block appBody %}
	{% include 'dashboard/components/nav.twig' %}
	<div class="flex flex-col lg:flex-grow pt-16 bg-gray-50 dark:bg-gray-900 min-h-screen w-full">
		{% include 'dashboard/components/aside.twig' %}
		<div class="fixed inset-0 z-10 hidden bg-gray-900/50 dark:bg-gray-900/90" id="sidebarBackdrop"></div>

		<div id="main-content" class="flex-1 relative bg-gray-50 lg:ml-64 dark:bg-gray-900">
			{% block appDashboard %}{% endblock %}
		</div>
		{% include 'dashboard/components/footer.twig' %}
	</div>
{% endblock %}
